/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
	======================
	Typeface
	======================
*/

html {
	color: #FDFFFD;
}

body {
	background: #293f50;
	min-width: 960px;
	font: 300 16px/22px "Proxima Nova Soft", Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4 {
	color: #f0812b;
}
h1 {
	font-size: 36px;
	line-height: 44px;
}
h2 {
	font-size: 24px;
	line-height: 44px;
}
h3 {
	font-size: 28px;
	line-height: 44px;
}
h4 {
	font-size: 18px;
	line-height: 44px;
}

.byline {
	text-align: right;
}

footer {
	text-align: right;
	padding-top: 20px;
}

.primary-nav li {
	display: inline-block;
	border: 1px solid #000;
	margin: 0 10px;
	text-align: right; <!--why isn't this aligning my text to the right of the page?-->
	font-size: 14px;
	line-weight: 400;
	word-spacing: .25em;
	text-transform: uppercase;
	vertical-align: top;
}
.primary-nav li: last-child {
	margin-right: 0;
}	

.secondary-nav li {
	display: inline-block;
	margin: 0 10px;
	text-align: right;
	font-size: 14px;
	line-weight: 400;
	word-spacing: .25em;
	text-transform: uppercase;
	vertical-align: top;
}
.primary-nav li: last-child {
	margin-right: 0;
}


.copyright {
	color: #000000;
	font-size: 10px;
	font-weight: 400;
	text-transform: none;
	text-align: right;
}

.summary {
	text-align: center;
}

.summary_body {
	font-size: 20px;
	line-height: 33px;
}

/*
	======================
	Links
	======================
*/

a:hover {
	color: #ea0b8c;
}
a {
	color: #5fb8dd;
}

.teaser a:hover h4 {
	color: #ea0b8c;
}


/* 
	======================
	Grid
	======================
*/

*,
*:before
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
}

.container,
.grid {
	margin: 0 auto;
	width: 960px;
}
.container {
	padding-left: 22px;
	padding-right: 22px;
}

h1, h3, h4, p {
	margin-bottom: 22px;
}

.col-1-3 {
	width: 33.33%
}
.com-2-3 {
	width: 66.66%
}
.col-1-3,
.col-2-3 {
	display: inline-block;
	vertical-align: top;
}
.grid,
.col-1-3,
.col-2-3 {
	padding-left: 15px;
	padding-right: 15px;
}

/*
	======================
	Clearfix
	======================
*/

.logo:before
.logo:after {
	content: "";
	display: table
}
.logo:after {
	clear: both;
}
.logo {
	clear: both;
	*zoom: 1;
}

/*
	=====================
	Buttons
	=====================
*/

.btn {
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	letter-spacing: .5px;
	background: #474747;
	margin: 0;
	text-transform: uppercase;
}

.btn-alt {
	margin: 0 auto;
	border: 1px solid #000000;
	padding: 10px 30px
}
.btn-alt:hover {
	background: #FDFFFD;
}

/*
	=====================
	Rows
	=====================
*/

.hero{
	background: #FDFFFD;
	min-width: 960px;
	padding: 66px 0 44px 0;
}
.connect {
	background: #FDFFFD;
	min-width: 960px;
}
.row {
	background: #FDFFFD;
	mid-width: 960px;
}

/*
	=====================
	Home
	=====================
*/

.hero {
	padding: 22px; 80px; 66px; 80px;
}

.summary {
	padding-left: 60px;
}

.summary_body {
	padding-top: 22px;
}

/*
	======================
	Images
	======================
*/
.logo {
	float: left;
}

.headshot {
	padding-top: 20px
}

img {
	display: block;
	height: 200px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

/*
	======================
	Contact Links
	======================
*/

.connect {
	padding-top: 10px;
	padding-bottom: 10px;
}